.overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .8);
	cursor: crosshair;
	transition: 0.3s;
	z-index: 9999;
}

.open-overlay {
	display: block;
}

.mymodal {
	position: fixed;
	background: #ffffff;
	top: -105%;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	height: 100%;
	max-width: 600px;
	position: absolute;
	box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.7);
	overflow: hidden;
	transition: 0.2s;
	border-radius: 3px;
	z-index: 10000;
}

.open-modal {
	position: fixed;
	top: 0;
}

.modal-content {
	position: absolute;
	top: 0;
	font-family: var(--fontRoboto);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.modal-form h1 {
	font-size: 40px;
	margin-bottom: 20px;
	font-weight: 800;
	color: #0065e1;
	font-family: var(--fontRoboto);
}

.modal-form input {
	background-color: #eee;
	border: none;
	padding: 17px;
	margin: 10px 0;
	width: 100%;
	outline: none !important;
	position: relative;
}

.modal-form input:focus {
	border-bottom: 2px solid #0065e1;
}
.modal-form a {
	color: #333;
	margin-top: 30px;
}
button,
button:hover,
button:active,
button:visited,
button:focus {
	outline: 0;
}

.modal-form button {
	width: 100%;
	transition: 0.45s;
	color: #fff;
	border: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;

	margin: 20px 0 40px;
	cursor: pointer;
}
